.warning {
  color: orangered;
  text-align: center;
  /*background-color: ;*/
  /*opacity: 0.8;*/
  border: orangered solid 1px;
  border-radius: 5px;
  padding: 2%;
}

.info {
  color: black;
  text-align: center;

}

.go-next-step {
  color: black;
  background-color: lightgreen;
  text-align: center;
  /*border: lightgreen 2px solid;*/
  opacity: 0.8;
  border-radius: 5px;
  padding: 2%;
}

.normal {
  color: white;
  text-align: center;
  border: 1px solid white;
  opacity: 0.8;
  border-radius: 5px;
  padding: 2%;
}
