.warning {
  color: orangered;
  text-align: center;
  padding: 2%;
}

.info {
  color: white;
  text-align: center;
  padding: 2%;
}

.go-next-step {
  color: lightgreen;
  text-align: center;
  opacity: 0.8;
  padding: 2%;
}

.normal {
  color: white;
  text-align: center;
  opacity: 0.9;
  padding: 2%;
}
