.App {
  text-align: left;;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.SF-logo-main {
  width: 20%;
}

.App-header {
  /*background-image: url('./images/one-up-bkgd-thin.jpg');*/
  background-image: url('./images/one-up-bkgnd.png');
  height: 15%;
  padding: 1%;
  color: white;
}

.background-img {
  background-color: white;
  /*background-image: url('./images/background.jpg');*/
}

.App-intro {
  font-size: large;
  background-color: #222;
  color: white;
  height: 300%;
  padding: .5% 0 .5% 1%;
  margin-bottom: 2%;
}

.configuration-title {
  color: white;
  text-align: center;
}

/*.carousol {
  margin-bottom: 4%;
}*/

footer {
  background-color: #222;
  color: orangered;
  padding:1%;
}

/*TENT DETAILS*/
.tent-details {
  border: #222 2px solid;
  padding-left: 1%;
  background-color: white;
  border-radius: 5px;
  color: #222;
}

.cost-bug-weight {
  height: 80px;
  margin-bottom: 5%;
}

.options {
  border: white 2px solid;
  padding: 1%;
  /*background-color: white;*/
  border-radius: 5px;
  color: white;
  text-align: center;
  margin: 3% 0;
}

.initial-options-buttons {
  text-align: center;
}

.go {
  font-size: 140%;
  margin-top: 2%;
}

/*.preconfig-button {
  background-color: #f94807
;
  color: white;
}*/

.accordion {
  margin-top: 3%;
}

/*BUGS, SNOW, RAIN*/
.snowflake {
  color: #749bdb;
}

.raindrop {
  color: darkblue;
}

.bugs {
  color: brown;
}

.decrease-opacity {
  opacity: 0.1;
}

.increase-icon {
  font-size: 250%;
  padding: 0 5% 1% 5%;
}

.increase-footer-icon {
  font-size: 210%;
  padding: 0 1% 1% 1%;
}

.bkgrd {
  background-color: #222;
  border-radius: 5px;
}

.conditions-protection {
  text-align: center;
  background-color: white;
}

.conditions-protection h3 {
  color: #222;
  padding: 0;
}

.parts-selected {
  border: #222 2px solid;
  text-align: center;
}

.alert-box {
  border: #222 2px solid;
  text-align: center;
}

.no-padding {
  padding: 0%;
}

.add-margin {
  margin: .6%;
}

.add-margin2 {
  margin: 1%;
}

.add-margin3 {
  margin: 2%;
}

.add-padding {
  padding: 1%;
}

.intro-subtitle {
  padding: 3% 0 1% 0;
  text-align: center;
  color: white;
}

.center-text {
  text-align: center;
}

.add-padding-bottom {
  padding-bottom: 2%;
}

.page-title {
  /*margin-left: 30%;*/
  text-align: right;
}

.cart-header {
  color: white;
  text-align: left;
}

.send-email {
  background-color: green;
  color: white;
  border-radius: 5px;
  padding: 1.5%;
}

a.send-email:hover {
  background-color: darkgreen;
  color: white;
  text-decoration: none;
}
