.panel {
  background-color: #222;
  color: white
}

.custom-panel {
  background-color: #222;
  color: white
}

.accordion-header {
  /*color: white;*/
  padding: 0 0 0 1%;
  margin: 2% 0;
}

.accordion-body {
  border: black 2px solid;
  padding:2%;
  margin-bottom: 2%;
  background-color: white;
  color: #222;
  border-radius: 5px;
}

.part-list-accordion {
  list-style: none;
  padding: 0;
}

.part-image {
  width: 100%;
}

.recommended-part-header {
  background-color: orange;
  border: 1px black solid;
  padding: 1%;
  margin-top: 3%;
}

.recommended-part-body {
  background-color: white;
  border: black 2px solid;
  padding:1%;
  background-color: white;
  color: #222;

}

.part-name {
  color: #222;
}

.recommended-part-name {
  color: #222;
}
