.small-image {
  width: 80%;
}

.large-image {
  width: 120%;
}

.panel {
  background-color: #dee1e5;
  color: #222;
}

.panel-body {
  background-color: #222;
  color: white;
}

/*.btn-custom {
  background-color: purple;
  color: white;
}*/

.custom-panel {
  background-color: #222;
  color: white
}

.accordion-header {
  /*color: white;*/
  padding: 0 0 0 1%;
  margin: 2% 0;
}

.accordion-body {
  border: black 2px solid;
  padding:2%;
  margin-bottom: 2%;
  background-color: white;
  color: #222;
  border-radius: 5px;
}

.part-list-accordion {
  list-style: none;
  padding: 0;
}

.part-image {
  width: 100%;
}

.recommended-part-image {
  width: 80%;
}

.recommended-part-container {
  margin-left: 16%;
}

.recommended-part-header {
  background-color: #222;
  border: 1px black solid;
  padding: 1%;
  margin-top: 3%;
  border-radius: 5px;
  color: white
}

.recommended-part-body {
  background-color: white;
  border: black 2px solid;
  padding:1%;
  color: #222;
  border-radius: 5px;
  text-align: center;
  margin: 0 0 2% 3%;
}

.part-name {
  color: #222;
}

.recommended-part-name {
  color: white;
}

.recommended-part-button {
  padding: 2%;
  margin-left: 4%;
}
